/* CSS reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Common Font Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

p,
ul,
ol,
details,
tbody td,
.dash-date {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Display Flex Column */
body,
header,
main {
  display: flex;
  flex-direction: column;
}

/* Responsive width for containers */
header,
main {
  width: min(900px, 100% - 3rem);
}

/* width 100% */
.btn-container,
details,
#budget-form,
table {
  width: 100%;
}

/* Variables */
:root {
  /* Colors */
  --lite-bg-color: #fff3f0;
  --accent-pink: #f76d6c;
  --accent-green: #10606a;
  --accent-gold: #edb96f;
  /* Hover Color Transition */
  --accent-light-gold: hsl(35, 78%, 75%);
  --accent-light-green: hsl(187, 74%, 34%);
  --accent-light-pink: hsl(0, 90%, 75%);
  /* Font Sizes */
  --font-xxl: 3rem;
  --font-xl: 2.5rem;
  --font-lrg: 1.8rem;
  --font-md: 1.5rem;
  --font-sm: 1.2rem;
}

/* Font Sizes */
/* XXLarge*/
h1 {
  font-size: var(--font-xxl);
}
/* XLarge*/
h2 {
  font-size: var(--font-xl);
}

/* Large */
h3 {
  font-size: var(--font-lrg);
}

/* Medium */
.btn-header,
footer {
  font-size: var(--font-md);
}

/* Small */
.dash-date,
details,
input,
input[type="placeholder"],
p,
table th,
table td {
  font-size: var(--font-sm);
}

/* Body Item Alignment */

body {
  min-height: 100vh;
  align-items: center;
}

main {
  flex: 1;
}

/* Header Styles */
header {
  align-items: center;
  margin: 1rem 0;
}

.dash-date {
  margin-bottom: 0.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.btn-header {
  width: min(200px, 80% - 1rem);
  color: white;
  padding: 0.3rem 0;
  border-radius: 0.25rem;
  transition: all 0.5s ease;
}

.btn-balance {
  background-color: var(--accent-gold);
  border: 1px solid var(--accent-gold);
}

.btn-balance:hover,
.btn-balance:active {
  background-color: var(--accent-light-gold);
  border-color: var(--accent-light-gold);
}

.btn-income {
  background-color: var(--accent-green);
  border: 1px solid var(--accent-green);
}

.btn-income:hover,
.btn-income:active {
  background-color: var(--accent-light-green);
  border: 1px solid var(--accent-light-green);
}

.btn-expenses {
  background-color: var(--accent-pink);
  border: 1px solid var(--accent-pink);
}

.btn-expenses:hover,
.btn-expenses:active {
  background-color: var(--accent-light-pink);
  border: 1px solid var(--accent-light-pink);
}
